<template>
  <el-upload v-model:file-list="fileList" accept="xls,docx,doc,jpg,png,pdf,txt"
    action="https://run.mocky.io/v3/9d059bf9-4660-45f2-925d-ce80ad6c4d15" class="upload-demo" multiple
    :on-change="handleChange" :on-preview="handlePreview" :show-file-list="true" :on-error="error">
    <el-button type="primary">点击上传</el-button>
    <template #tip>
      <div class="el-upload__tip">
        文件大小不超过30M
      </div>
    </template>
  </el-upload>
  <div>
    <el-select v-model="value" filterable placeholder="请选择">
      <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
      </el-option>
    </el-select>
    <el-select v-model="flgvalue" multiple filterable allow-create default-first-option placeholder="请选择文章标签">
      <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
      </el-option>
    </el-select>
    <el-rate v-model="rate" show-text>
    </el-rate>
  </div>
  <div>
    <el-descriptions title="自定义样式列表" :column="3" border>
      <el-descriptions-item label="用户名" label-class-name="my-label"
        content-class-name="my-content">kooriookami</el-descriptions-item>
      <el-descriptions-item label="手机号">18100000000</el-descriptions-item>
      <el-descriptions-item label="居住地">苏州市</el-descriptions-item>
      <el-descriptions-item label="备注">
        <el-tag size="small">学校</el-tag>
      </el-descriptions-item>
      <el-descriptions-item label="联系地址" :contentStyle="{ 'text-align': 'right' }">江苏省苏州市吴中区吴中大道 1188
        号</el-descriptions-item>
    </el-descriptions>
  </div>
</template>
<script setup>
import { ref } from 'vue';
import { ElMessage, ElMessageBox } from 'element-plus'
// import type { UploadProps, UploadUserFile } from 'element-plus'
// let auto_upload = ref(false)
const fileList = ref([])
const options = ref([
  {
    value: '1',
    label: '黄金糕'
  },
  {
    value: '2',
    label: '双皮奶'
  },
  {
    value: '3',
    label: '蚵仔煎'
  },
  {
    value: '4',
    label: '龙须面'
  },
  {
    value: '5',
    label: '北京烤鸭'
  }
])
const value = ref('')
const rate = ref(null)
const flgvalue = ref('')
const handleChange = (files) => {
  fileList.value.filter(item => {
    if (item.name != item.name) {
      fileList.value.push(item)
    }
    return files
  })
}
const error = (file) => {
  ElMessage.error('文件上传失败，请重新上传')
}
const handlePreview = (file) => {
  let reader = new FileReader()
  reader.readAsText(file.raw, 'gb2312')
  reader.onload = function (e) {
    let value = e.target.result
    console.log(value);
  }
}
</script>
<style scoped lang="less">
/deep/.my-label {
  background: #E1F3D8 !important;
}

/deep/.my-content {
  background: #FDE2E2 !important;
}
</style>