<template>
  <div class="text">欢迎来到后台管理系统</div>
</template>
<script>
export default {
  components: {

  },
  props: {

  },
  setup(props, context) {

  }
}
</script>
<style scoped lang="less">
.text{
    height: 88%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffd04b;
    text-shadow: 0 0 25px orangered;
}
</style>